
body {
    margin: auto;
  
}
button {
    background: none;
    padding: 0;
    margin: inherit;

}
h1{
    font-family: 'Ysabeau Infant', sans-serif;  
}
.all-items {
    background-color: aliceblue;
    height: 100%;
} 

.container {
height: 100vh;
display:flex;
position: relative;
align-items: center;
text-align: center;
justify-content: center;
}



.event,
.office {
    display: inline-block;
    margin: 0.8rem;
    font-weight: bold;
    font-size: 3rem;
    color: rgb(62, 62, 62);
}

.event {
    position: relative;
    animation: eventmotion;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}


@keyframes eventmotion {
    0% {transform: translateX(-600px)}
    0% {opacity: 0}
    50% {opacity: 1}
    100% {transform: translateX(0)}
}

.office {
    position: relative;
    animation: officemotion;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

@keyframes officemotion {
    0% {transform: translateX(600px)} 
    0% {opacity: 0}
    50% {opacity: 1}
    100% {transform: translateX(0)}
}

hr {
    width: 25rem;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.enter {
    border: 1px solid rgb(214, 214, 214);
    color: rgb(107, 107, 107);
    border-radius: 5px;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    position: relative;
    animation: entermotion;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 2.9s;
    opacity: 0;
    padding: 1rem;
    cursor: pointer;
}
.enter:hover {
color: rgb(62, 62, 62) ;
border-color: rgb(62, 62, 62);
}

.active-left {
    animation: swip-left;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

.active-right {
    animation: swip-right;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}


.navbar-container {
    position: absolute;
    top: calc(50% - 200px);
    left: 2rem;
    border:2px solid black;
    height: 400px;
    width: 200px;
display:flex;
align-items: center;
text-align: center;
justify-content: center;
    opacity: 0;
}

.nav-boarder {
    animation: navboarder;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes navboarder {
    0% {opacity: 0} 
    100% {opacity: 1}
}

.navbar-items {
    position: absolute;
    top: calc(50% - 200px);
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    color: azure;
    height: 400px;
    width: 160px;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding-left: 1.9rem;
    justify-content: center;
    font-size: 0.6rem;
/* transform: perspective(170px) rotateY(25deg); */
    opacity: 0;
    z-index: 2;
}
.navbar-items h1:hover {
  padding-left: 1rem;
  transform: scale(1.1);
  cursor: pointer;
}

.nav-items {
    animation: navitems;
    animation-duration: 4s;
    animation-fill-mode: both;
}


.nav-hr {
    width: 11rem;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(159, 159, 159, 0.75), rgba(255, 255, 255, 0))
}

@keyframes navitems {
    0% {transform: perspective(190px) rotateY(30deg)}
    0% {opacity: 1} 
    20% {transform: perspective(190px) rotateY(30deg)}  
    100% {transform: perspective(170px) rotateY(15deg)}
    100% {opacity: 1}
    0% {left: -200px;}
    40% {left: 0;}
    100% {left: 0;}
    
}

.btnactive {
    opacity: 1;
    }
@keyframes swip-left {
    0% {transform: translateX(0)} 
    0% {opacity: 1}
    100% {opacity: 0}
    100% {transform: translateX(-400px)}
    100% {cursor:default}
}

@keyframes swip-right {
    0% {transform: translateX(0)} 
    0% {opacity: 1}
    100% {opacity: 0}
    100% {transform: translateX(400px) }
    
}
.fade-out-active {
animation: fadeout 1s;
animation-fill-mode: both;
cursor: default;
}

@keyframes fadeout {
    0% {opacity: 1} 
    100% {opacity: 0}
    }

@keyframes entermotion {
    0% {opacity: 0} 
    100% {opacity: 1}
}